html, body, #container {
	height: 100%;
	overflow: hidden;
	width: 100%;
}
.navbar {
	display: none;
	min-height: 50px;
}
#sidebar {
	float: left;
	height: 100%;
	max-width: 100%;
	width: 250px;
	padding: 10px
}
#map {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	height: 100%;
	width: auto;
}
.sidebar-wrapper {
	height: 100%;
	position: relative;
	width: 100%;
}
.coord {
	margin-bottom: 5px;
}
.coord-lower {
	margin-bottom: 0;
}
.coord-body {
	padding: 0;
}